* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #202020
}

::-webkit-scrollbar {
    width: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111111;
    padding: 15px 20px;
}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 25px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li {
    color: #fff;
    text-decoration: none;
    font-weight: 350;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}

nav ul li:hover {
    background: #fff;
    color: #202020;
}

h1 {
    text-align: center;
    margin: 40px 0;
    font-size: 40px;
    color: #fff;
}

.game-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 55vh;
    width: 95vw;
    margin: 0 auto;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: proximity;
    scroll-behavior: smooth;
    scroll-snap-points-x: repeat(100%);
}

.element {
    width: 100%;
    height: 100%;
    background: #111111;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 20px;
    transition: 0.2s;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #fff;
}

.element img{
    width: 80%;
    object-fit: cover;
    border-radius: 5px;
}

.element a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    transition: 0.2s;
    color: #202020;
}

.element a:hover {
    background: #202020;
    color: #fff;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer p {
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        margin: 20px 0;
    }

    .game-grid {
        flex-direction: column;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .element {
        flex-direction: column;
    }

    footer {
        display: none;
    }
}